/* .box{
   width: 400px;
   background-color: fuchsia;
   padding:20px;
   border:25px solid black;
   margin: 30px;
   text-align: center;
} */

/* .container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: rgb(212, 0, 255);
    border: 1px solid black;
    flex-direction: row-reverse;
    flex-wrap:"wrap";
    justify-content:center;
    align-items: center;
    align content: center;
    gap: 10px;

}
.item{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(43, 226, 67);
    align content:center;
    flex-grow: 1;



}

.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}
 */

    /* .conatiner{
    display: grid;
    height: 500px;
    width: 1000px; 
    background-color: rgb(184, 187, 27);
    border:2px solid black ;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:repeat(3,100px);
    grid-template-areas:"header header header header" "main main . sidebar" "footer footer footer footer";
    column-gap: 10px; 
    row-gap: 10px;
    justify-items: center;
      yahan par jab tak height and width ko disable nahi karnege tab tak streach nahi lagegi 
    justify-content:center;
    align-items: center;
    grid-auto-columns: 60px;
 } 

 .item{
    height:100px;
    width:100px; 
    background-color: cornflowerblue;
    border:1px solid black;
    text-align: center;
    align-content: center;
    color: white;

 }
 .item1{
    grid-area: header;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: end;
    align-self: start;
 }
 .item2{
    grid-area: main;
   
   
 }
 .item3{
    grid-area: sidebar;
 }
 .item4{ 
    grid-area: footer;
 } */
  
   /* .box{
   width:100%;
   height: 100px;
   background-color: darkviolet;
   text-align: center;
   justify-content: center;
   justify-items: center;
  }

  @media(max-width; 768px)
 P{
   font-size: 1000px;
 }
 .box{
   width: 100%;
   height:100px;
   background-color: rgb(183, 73, 238); 
 }
 @media only screen and (min-width:768px){
   .box{
      width:100%;
      height: 100px;
      background-color:grey;
      text-align: center;
      align-content: center;
   }
 } 
  li{
   list-style-type: none ;
   text-decoration: none;
   
 }
 nav ul{
   display: none;
   flex-direction: column;
}   */
 
/* <!--for mobile menu (dispaly:none)
.hamburger(diplay:block)
tablet and laptop
.menu {display:flex}
hamburger{diplay:none */

.box {
    background-color: lightblue;
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: hotpink;
    padding: 20px;
}
@media (max-width: 600px) {
    .box {
        background-color: orange;
        height: 200px;
    }
}
@media (max-width: 1000px) {
    .box {
        background-color: lightgreen;
    }
}


