.container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: rgb(212, 0, 255);
    border: 1px solid black;
    flex-direction: row-reverse;
    flex-wrap:"wrap";
    justify-content:center;
    align-items: center;
    align content: center;
    gap: 10px;

}
.item{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(43, 226, 67);
    align content:center;
    flex-grow: 1;



}

.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}

